h1{
    color:rgb(24, 18, 25);
    text-align: centre;
    text-decoration: rgb(123, 0, 255) wavy underline;
    background-color: antiquewhite;
    width: 200px;
    height: 250px;
    border-style: dotted;
    border-color: rgb(222, 24, 83);
    padding: left 25px;
    margin:top 25px;
    border-radius: 50%;
}
div {
    color:rgb(29, 144, 189)

}
body{
    background-color: hotpink;
}
    

button{
    background-color: rgb(223, 175, 15);
}
h2{
    font-weight: lighter;
}
 #one
    {font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
line-height: 2px;}
    #two{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

h2{font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
line-height: 22px;
text-transform: uppercase;

    
}
*{
    padding: 0%;
    margin: 0%;
    color:rgb(14, 4, 4);
}
#navbar{
    background-color: rgba(0, 0, 0, 0.781);
    color: chocolate;
}
#box{
    background-color: rgb(255, 0, 157);
    display: inline;
}
#boz1{
    background-color: rgb(131, 75, 123);
    border-style: solid;
     display: inline;
     height: 100px;
     width: 100px;
     background-image: url("lav.jpg");
     background-size: contain;
}
#boz2{
    background-color: aqua;
     border-style: solid;
      display: inline;
      height: 100px;
     width: 100px;
     position: relative;
     top: 20px;
}
#boz3{
    background-color: aqua;
     border-style: solid;
     display: inline;
     height: 100px;
     width: 100px;
     position: absolute;
     top: 10px;
     right: 10px;
      background-image: url("lav.jpg");
      background-size: cover;
}